<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <listener>
        <listener-class>com.ni3.ag.navigator.server.util.Ni3SessionListener</listener-class>
    </listener>

    <servlet>
        <display-name>SpringInitializerServlet</display-name>
        <servlet-name>SpringInitializerServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SpringInitializerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Servlet for comparing database version (sys_iam table) and war version (database.version file) -->
    <servlet>
        <display-name>DBVersionValidationServlet</display-name>
        <servlet-name>DBVersionValidationServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.DBVersionValidationServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Servlet for validating user data integrity -->
    <servlet>
        <display-name>DataIntegrityValidationServlet</display-name>
        <servlet-name>DataIntegrityValidationServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.DataIntegrityValidationServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>QuartzSchedulerStarter</description>
        <display-name>QuartzSchedulerStarter</display-name>
        <servlet-name>QuartzSchedulerStarter</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.lifecycle.QuartzSchedulerStarter</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <display-name>ObjectManagementServlet</display-name>
        <servlet-name>ObjectManagementServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ObjectManagementServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <!-- END of load-on-startup servlets -->


    <servlet>
        <description>SrcIdToIdConvertionServlet</description>
        <display-name>SrcIdToIdConvertionServlet</display-name>
        <servlet-name>SrcIdToIdConvertionServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SrcIdToIdConvertionServlet</servlet-class>
    </servlet>
    <servlet>
        <description>SchemaServlet</description>
        <display-name>SchemaServlet</display-name>
        <servlet-name>SchemaServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SchemaServlet</servlet-class>
    </servlet>
    <servlet>
        <description>GraphServlet</description>
        <display-name>GraphServlet</display-name>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.GraphServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Search servlet</description>
        <display-name>SearchServlet</display-name>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Geo-Analytics</description>
        <display-name>GeoAnalyticsServlet</display-name>
        <servlet-name>GeoAnalyticsServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.GeoAnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>property access servlet</description>
        <display-name>SettingsProvider</display-name>
        <servlet-name>SettingsProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SettingsProvider</servlet-class>
    </servlet>
    <servlet>
        <description>IconProvider</description>
        <display-name>IconProvider</display-name>
        <servlet-name>IconProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.IconProvider</servlet-class>
    </servlet>
    <servlet>
        <description>ReportProvider</description>
        <display-name>ReportProvider</display-name>
        <servlet-name>ReportProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ReportProvider</servlet-class>
    </servlet>
    <servlet>
        <description>LicenseProvider</description>
        <display-name>LicenseProvider</display-name>
        <servlet-name>LicenseProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.LicenseProvider</servlet-class>
    </servlet>
    <servlet>
        <description>FavoritesFolderManagementServlet</description>
        <display-name>FavoritesFolderManagementServlet</display-name>
        <servlet-name>FavoritesFolderManagementServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.FavoritesFolderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <description>ExportProvider</description>
        <display-name>ExportProvider</display-name>
        <servlet-name>ExportProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ExportProvider</servlet-class>
    </servlet>
    <servlet>
        <description>SynchronizationServlet</description>
        <display-name>SynchronizationServlet</display-name>
        <servlet-name>SynchronizationServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SynchronizationServlet</servlet-class>
    </servlet>
    <servlet>
        <description>LoginServlet</description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>LoginServletJson</description>
        <display-name>LoginServletJson</display-name>
        <servlet-name>LoginServletJson</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.json.LoginServletJson</servlet-class>
    </servlet>
    <servlet>
        <description>CacheInvalidationServlet</description>
        <display-name>CacheInvalidationServlet</display-name>
        <servlet-name>CacheInvalidationServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.CacheInvalidationServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>FavoritesManagementServlet</display-name>
        <servlet-name>FavoritesManagementServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.FavoritesManagementServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>ThickClientStarterDataProviderServlet</display-name>
        <servlet-name>ThickClientStarterDataProviderServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ThickClientStarterDataProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>SystemStatusServlet</display-name>
        <servlet-name>SystemStatusServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SystemStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GISServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.GISServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaletteServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.PaletteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.LanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ChartsServlet</servlet-class>
    </servlet>

    <!--
       This servlet should be used for hardware-bound licensing. For Navigator to work with this option enabled, a valid license
       should exist in sys_licenses table. <servlet> <description>systemIdValidator</description>
       <display-name>SystemIdValidator</display-name> <servlet-name>SystemIdValidator</servlet-name>
       <servlet-class>com.ni3.ag.navigator.server.license.SystemIdValidator</servlet-class> <load-on-startup>0</load-on-startup>
       </servlet>
   -->
    <servlet>
        <display-name>GISRasterProvider</display-name>
        <servlet-name>GISRasterProvider</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.GISRasterProvider</servlet-class>
    </servlet>

    <servlet>
        <display-name>ActivityStreamServlet</display-name>
        <servlet-name>ActivityStreamServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.ActivityStreamServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>DynamicAttributesServlet</display-name>
        <servlet-name>DynamicAttributesServlet</servlet-name>
        <servlet-class>com.ni3.ag.navigator.server.servlets.DynamicAttributesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GISRasterProvider</servlet-name>
        <url-pattern>/servlet/GISRasterProvider</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SrcIdToIdConvertionServlet</servlet-name>
        <url-pattern>/servlet/srcidtoid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrcIdToIdConvertionServlet</servlet-name>
        <url-pattern>/servlet/idtosrcid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThickClientStarterDataProviderServlet</servlet-name>
        <url-pattern>/servlet/starter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchemaServlet</servlet-name>
        <url-pattern>/servlet/SchemaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/servlet/GraphServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/servlet/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeoAnalyticsServlet</servlet-name>
        <url-pattern>/servlet/GeoAnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsProvider</servlet-name>
        <url-pattern>/servlet/SettingsProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IconProvider</servlet-name>
        <url-pattern>/servlet/IconProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportProvider</servlet-name>
        <url-pattern>/servlet/ReportProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LicenseProvider</servlet-name>
        <url-pattern>/servlet/LicenseProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritesFolderManagementServlet</servlet-name>
        <url-pattern>/servlet/FavoritesFolderManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportProvider</servlet-name>
        <url-pattern>/servlet/ExportProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SynchronizationServlet</servlet-name>
        <url-pattern>/servlet/SynchronizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletJson</servlet-name>
        <url-pattern>/servlet/LoginServletJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheInvalidationServlet</servlet-name>
        <url-pattern>/servlet/CacheInvalidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritesManagementServlet</servlet-name>
        <url-pattern>/servlet/FavoritesManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObjectManagementServlet</servlet-name>
        <url-pattern>/servlet/ObjectManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemStatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityStreamServlet</servlet-name>
        <url-pattern>/servlet/ActivityStreamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GISServlet</servlet-name>
        <url-pattern>/servlet/GISServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaletteServlet</servlet-name>
        <url-pattern>/servlet/PaletteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/servlet/LanguageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/servlet/SettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsServlet</servlet-name>
        <url-pattern>/servlet/ChartsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicAttributesServlet</servlet-name>
        <url-pattern>/servlet/DynamicAttributesServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>exceptionFilter</filter-name>
        <filter-class>com.ni3.ag.navigator.server.filters.ExceptionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SrcIdToIdConvertionServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SchemaServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>GraphServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SearchServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>GeoAnalyticsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SettingsProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>IconProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ReportProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>LicenseProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>FavoritesFolderManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ExportProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SynchronizationServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>CacheInvalidationServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>QuartzSchedulerStarter</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>FavoritesManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ObjectManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ThickClientStarterDataProviderServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ActivityStreamServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>GISServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>PaletteServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>SettingsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>LanguageServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>ChartsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exceptionFilter</filter-name>
        <servlet-name>DynamicAttributesServlet</servlet-name>
    </filter-mapping>

    <!-- filters for session validation (not allow multiple login with same user) -->
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.ni3.ag.navigator.server.filters.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>protoSessionFilter</filter-name>
        <filter-class>com.ni3.ag.navigator.server.filters.ProtoSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <servlet-name>SettingsProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <servlet-name>ExportProvider</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>SearchServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>LicenseProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>SchemaServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>ReportProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>GeoAnalyticsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>SynchronizationServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>ActivityStreamServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>ObjectManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>GISServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>PaletteServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>FavoritesManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>FavoritesFolderManagementServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>SettingsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>LanguageServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>ChartsServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>IconProvider</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>DynamicAttributesServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>protoSessionFilter</filter-name>
        <servlet-name>GraphServlet</servlet-name>
    </filter-mapping>

    <!-- End of session filter definitions -->

    <!--session timeout (inactivity) in minutes-->
    <session-config>
        <session-timeout>4320</session-timeout>
    </session-config>
</web-app>